.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

body{
  background: #000;
  padding-top: 10px;
} 

.preface {
  position: absolute;
  width: 600px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-left: -300px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
  display: table-cell;
  font-style: italic;
  font-size: 200%;
  text-align: center; 
  color: #FFCC00;
}​

.info {
  position: absolute;
  width: 50px;
  height: 50px;
  margin-left: 0px;
}

p{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

input{
  vertical-align:middle; 
  text-align: center; 
}

button{
  display:inline-block;
  white-space:nowrap;
  vertical-align:middle; 
  text-align: center; 
  background: #000;
  color: #FFCC00;
}
